/dist
/.dist-buildwrapper
/.project
/cabal.sandbox.config
/tags
/.cabal-sandbox
/.stack-work
# Use 'stack init' on a fresh checkout to generate your own stack.yaml file
# for easy building.
/stack.yaml
